Django==4.0.4
PyMeeus==0.5.11
asgiref==3.5.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
convertdate==2.4.0
cron-validator==1.0.5
gunicorn==20.1.0
hijri-converter==2.2.3
holidays==0.13
idna==3.3
joblib==1.1.0
korean-lunar-calendar==0.2.1
mysql-connector-python==8.0.28
nltk==3.7
protobuf==3.19.4
pylev==1.4.0
python-dateutil==2.8.2
pytz==2021.3
regex==2022.3.15
requests==2.27.1
six==1.16.0
slack-bolt==1.12.0
slack-sdk==3.15.2
sqlparse==0.4.2
tqdm==4.63.0
urllib3==1.26.9
word2number==1.1
